
body{
	background-position: center;
background-image: url(g.jpg);
background-repeat: no-repeat;
 background-size: cover;
 background-attachment: fixed;
  width: 100%;
  height: auto;
}

.d1{
	float: left;
	display: inline-block;
	color: black;
	height: 78px;
		font-size: 4vw;
		width: 807px;

	font-family: 'Lobster', cursive;
margin-top: 26%;
    margin-left: 2%;
}


.btn{

	    padding: 5px 10px 5px 10px;

	margin-bottom: 2%;
background-color: red;
display: inline-block;
box-shadow: 10px 10px 11px black;
text-align: center;
color: white;
font-weight: 100;
border-radius: 300px;
border-color: red;
text-decoration: none;
font-family: 'Acme', sans-serif;
font-size: 1.5vw;
color: white;


}
.btn:hover{
	text-decoration: none;
	background-color: #B8001D;
	border-color: #B8001D;
	transform: scale(1.1);
	transition: 0.5s;
  cursor: pointer;
  color: white;
}
.d2{
	float: left;
	
	display: inline-block;
    margin-top: 32%;
    margin-left: -76%;
    width: 156px;
    height: 51px;
}
